// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
@import "transformaciones";
@import "transiciones";
@import "animaciones";

// GENERAL --
body {
    a:link {
        color: rgb(255, 111, 0);
    }

    a:visited {
        color: #265b89;
    }

    a:focus {
        border-bottom: 1px solid;
        background: #b3b1b1;
    }

    a:hover {
        border-bottom: 1px solid;
        background: #2c2d2e;
    }

    a:active {
        background: #000000;
        color: #ffffff;
    }

    div #carouselExampleCaptions {
        div {
            .borroso {
                background-color: rgba(0, 0, 0, 0.15);
                backdrop-filter: blur(10px);
            }
        }
    }

    // PUNTUALES --
    //-- DELANTE --
    .z-front {
        z-index: 1;
    }

    // ORÁCULO --
    //-- BARRA PROGRESO
}